@model IEnumerable<AvarIT.Models.InventoryViewModels.WebCompatibilityIssues>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ControlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ControlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
