@model AvarIT.Models.ITInventoryModels.ComputerCase

@{
    ViewData["Title"] = "Details";
}

<div class="col-xs-12">
    <ol class="breadcrumb" >
        <li><a asp-controller="Home" asp-action="index">Home</a></li>
        <li><a href="~/ComputerCases/Index?#page">Computer Case</a></li>
        <li class="active">Details</li>
    </ol>
</div>

<h3>Details of Computer Case</h3>
<hr class="style1">


    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Computer Case</h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.AvarTagNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AvarTagNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.User)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.User)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.MachineName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MachineName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.OfficeLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.OfficeLocation)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SerialNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SerialNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Brand)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Brand)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ModelSeries)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ModelSeries)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ModelNo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ModelNo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LaptopScreenSize)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LaptopScreenSize)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CPUType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CPUType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CPUFrequency)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CPUFrequency)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.MemorySize)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MemorySize)
                        </dd>
                          
                        </dl>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Computer Case</h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.HDDSize)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HDDSize)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.OEMOperatingSystem)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.OEMOperatingSystem)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.OEMLicense)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.OEMLicense)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpgradedTo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpgradedTo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpgradeLicense)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpgradeLicense)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LANMAC)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LANMAC)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.WLANMAC)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.WLANMAC)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.OrderNo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.OrderNo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PurchaseDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PurchaseDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Warranty)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Warranty)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Cost)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Cost)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Retired)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Retired)
                        </dd>
                    </dl>
                       
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Computer Case</h4>
                </div>
                <div class="panel-body" style="height: calc(40vh - 150px);">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Note)
                        </dt>
                        <dd>

                            @*@Html.DisplayTextFor(model => model.Note)*@
                            @Html.TextAreaFor(model => model.Note, new { Style = "border: 1px solid RGB(204,204,204)", @readonly = true, @cols = 80, @rows = 8})
                        </dd>
                    </dl>
                    </div>
                </div>
            </div>
      

        <div class="col-md-6">

            <div class="panel panel-inverse panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Action</h4>
                </div>
                <div class="panel-body"  style="height: calc(40vh - 150px);
 overflow-y: auto; ">
                    <div class="form-horizontal">
                        <br />
                        <div class="form-group">
                            <a href="~/ComputerCases/Edit/@Model.ID?#page" value="Edit" class="btn btn-success col-md-offset-2">Edit</a>
                            <a href="~/ComputerCases/Index?#page" class="col-md-offset-3"><i class="fa fa-backward" aria-hidden="true"></i><strong> Back to List</strong></a>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
</div>
