@model AvarIT.Models.InventoryViewModels.WebCompatibilityIssues

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WebCompatibilityIssues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ControlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ControlType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ControlType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElementName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElementName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElementType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueTypeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueTypeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
