@{
    ViewData["Title"] = "Home Page";
}
<br /><br />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <canvas id="canvas" width="80" height="25"> </canvas>
        </div>
        <div class="item">
            <canvas id="canvasAccounting" width="80" height="25"> </canvas>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="panel panel-success">
    <div class="panel-heading"><a data-toggle="collapse" href="#collapse1" style="font-size:20pt">IT Inventory</a></div>
    <div id="collapse1" class="panel-collapse collapse in">

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-6  ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/images/computer.png" width="80" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@ViewData["ComputerCaseCount"]</div>
                                    <div><a href="~/ComputerCases/Create?#page" style="color:white">New Computer Case!</a></div>

                                </div>
                            </div>
                        </div>
                        <a href="~/ComputerCases/Index?#page">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/images/monitor.jpg" width="70" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@ViewData["MonitorCount"]</div>
                                    <div><a asp-controller="Monitors" asp-action="Create" style="color:white">New Monitor!</a></div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Monitors" asp-action="Index">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pull-right col-xs-12" >
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">

                                    <img src="~/images/router.png" width="70" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@ViewData["NetworkCount"]</div>
                                    <div><a asp-controller="Networks" asp-action="Create" style="color:white">New Network!</a></div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Networks" asp-action="Index">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 pull-right col-xs-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/images/printer.png" width="70" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@ViewData["PrinterCount"]</div>
                                    <div><a asp-controller="Printers" asp-action="Create" style="color:white">New Printer!</a></div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Printers" asp-action="Index">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div class="row wrap">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/images/miscellaneous.png" width="80" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@ViewData["MiscellaneousCount"]</div>
                                    <div><a asp-controller="Miscellaneous" asp-action="Create" style="color:white">New Miscellaneous!</a></div>

                                </div>
                            </div>
                        </div>
                        <a asp-controller="Miscellaneous" asp-action="Index">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/images/four-browser-icons.png" width="120" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@ViewData["IssuesCount"]</div>
                                    <div><a asp-controller="WebCompatibilityIssues" asp-action="Create" style="color:white">New Compatibility Issue!</a></div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="WebCompatibilityIssues" asp-action="Index">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><a data-toggle="collapse" href="#collapse2" style="font-size:20pt">Accounting Inventory</a></div>
    <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="well top-block ">
                            <a asp-controller="Employees" asp-action="Index">
                                <i class="fa fa-laptop blue"></i>
                                <div>Computers</div>
                            </a>
                            <a asp-controller="Computers" asp-action="Create"><div><i class="glyphicon glyphicon-plus-sign blue"></i></div></a>
                            <span class="notification">@ViewData["ComputerCount"]</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="well top-block ">
                            <a asp-controller="OfficeEquipments" asp-action="Index">
                                <i class="glyphicon glyphicon-phone-alt green"></i>
                                <div>Office Equipments</div>
                            </a>
                            <a asp-controller="OfficeEquipments" asp-action="Create"><div><i class="glyphicon glyphicon-plus-sign green"></i></div></a>
                            <span class="notification">@ViewData["OfficeEquipmentCount"]</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="well top-block ">
                            <a asp-controller="OfficeFurnitures" asp-action="Index">
                                <i class="fa fa-television  yellow"></i>
                                <div>Office Furnitures</div>
                            </a>
                            <a asp-controller="OfficeFurnitures" asp-action="Create"><div><i class="glyphicon glyphicon-plus-sign yellow"></i></div></a>
                            <span class="notification">40253.12</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script src="~/lib/Chart.js/dist/Chart.js"></script>
@section Scripts {
<script type="text/javascript">
            var barChartData = {
                labels: ["Computer Case", "Monitor", "Network", "Printer", "Miscellaneous", "Web Compatibility Issues"],
                datasets: [{
                    label: '',
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                         'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 2,
                    data: [@ViewData["ComputerCaseCount"],  @ViewData["MonitorCount"],  @ViewData["NetworkCount"], @ViewData["PrinterCount"],   @ViewData["MiscellaneousCount"],  @ViewData["IssuesCount"]]
                }
                ]
            };


            var ctx = document.getElementById("canvas").getContext("2d");
            var bg = new Image();
            bg.onload = function () {
                ctx.drawImage(bg, 0, 0);

            }
            bg.src == "~/images/stop.jpg";

            Chart.defaults.bar.scales.xAxes[0].categorySpacing = 0;
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,

                options: {

                    scales: {
                        xAxes: [{
                            barPercentage: 0.8,
                            ticks: {
                                fontSize: 13
                            },
                            gridLines: {
                                drawOnChartArea: false
                            },
                        }],


                    },

                    title: {
                        display: true,
                        text: 'IT Inventory Statistics',
                        fontSize: 26
                    },
                    legend: {
                        display: false,
                    },
                }
                    });

</script>
                  
}